<div>

    <div class="row">
        <div class="col-md-6">

            <div class="col-md-9">
                <h2><a href="http://www.jhipster.tech/" target="_blank" rel="noopener"> Gratulujemy! </a></h2>
                <br/>
                <h2><a target="_blank" rel="noopener"> Numer Twojej nowej polisy mieszkaniowej to: </a>
                    <button *ngIf="polisaId == null" type="submit" class="btn btn-primary" class="alert-link" (click)="pobierzPolise()"> ??? </button>

                    <h2>{{polisaId}}</h2>

                    <br/>
                    <br/>

            </div>

            <div>   <!-- rozowe tlo -->
                <span> Wszechstronne, kompleksowe ubezpieczenie wszystkich składników majątku jest gwarancją poczucia bezpieczeństwa. Dom, ruchomości domowe, a nawet odpowiedzialność cywilna w życiu prywatnym – wszystko można objąć odpowiednią polisą, zapewniając sobie spokój na długie lata. Warto wszystkie składniki swojego majątku prywatnego objąć dobrą polisą ubezpieczeniową. </span>

            </div>

            <br/>
            <br/>
            <br/>

            <img src="kradziez.PNG">
            <div>
                <br/>

                <label> Numer polisy miekszakniowe </label>
                <input type="text" class="form-control" [(ngModel)]="polisaId"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                <label> Wartosść zabezpieczenia </label>
                <input type="text" class="form-control" [(ngModel)]="kwota"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                <button type="submit" class="btn btn-primary" class="alert-link" (click)="dodajZabezpieczeniePrzeciwkradziezowe()"> Kup dodatkowe zabezpieczenie</button>


            </div>


            <br/>
            <br/>
            <br/>

            <img src="ruchomosci.PNG">
            <div>
                <br/>
                <label> Numer polisy miekszakniowe </label>
                <input type="text" class="form-control" [(ngModel)]="polisaId"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                <label> Wartosść ubezpieczenia ruchomosci domowych </label>
                <input type="text" class="form-control" [(ngModel)]="kwota2"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                <button type="submit" class="btn btn-primary" class="alert-link" (click)="dodajUbezpieczenieRuchomosciDomowych()"> Kup dodatkowe ubezpieczenie</button>

            </div>


            <br/>


        </div>
    </div>

</div>
