<div class="modal-header">
    <h4 >Ubezpieczenie mieszkaniowe nr <button *ngIf="polisaId == null" type="submit" class="btn btn-primary" class="alert-link" (click)="pobierzPolise()"  > ? </button>  {{polisaId}} </h4>

</div>

<h4 >  <button type="submit" class="btn btn-primary" class="alert-link"   (click)="pobierzPoliseById(polisaId)"  >  polisa </button>


    <div *ngIf="polisa != null">
        {{polisa.id}}   <br/>  {{polisa.ulica}} <br/>  {{polisa.numerBudynku}} <br/>  {{polisa.miasto}} <br/>  {{polisa.kodPocztowy}} <br/>   {{polisa.ulica}}  <br/> <br/>

        {{polisa.klientDTO.id}}  <br/>  {{polisa.klientDTO.imie}} <br/>  {{polisa.klientDTO.nazwisko}}   <br/>  {{polisa.klientDTO.email}}   <br/>  {{polisa.fakturaMieszkaniowa.idFaktura}}

<!--</h4>-->


<!--<h4 >-->
  <button type="submit" class="btn btn-primary" class="alert-link"   (click)="pobierzUbezpieczeniaRuchomosciDomowychByIdPolisaMieszkaniowa(polisa.id)"  >  URD </button>




        <div *ngIf="ubezpieczenieRuchomosciDomowych != null">



          {{ubezpieczenieRuchomosciDomowych.id}}   <br/>  {{ubezpieczenieRuchomosciDomowych.koszt}} <br/> {{ubezpieczenieRuchomosciDomowych.polisaMieszkaniowaDTO.miasto}}   <br/>  {{ubezpieczenieRuchomosciDomowych.data}}  <br/>


            <div> <h4><button  target="_blank" rel="noopener"   > Chcesz zmienic kwote URD?  </button>

                <label> Nowa kwota </label>
                <input type="text" class="form-control" [(ngModel)]="kwota"  #login="ngModel"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                <button type="submit" class="btn btn-primary" class="alert-link" (click)="modyfikujUbezpieczeniaRuchomosciDomowych(kwota)"  >  zapisz zmiany </button>

            </h4> </div>

               <br/>

            <button type="submit" class="btn btn-primary" class="alert-link" (click)="zrezygnujZUbezpieczeniaRuchomosciDomowych(polisaId)"  >  zrezygnuj z URD </button>

        </div>



    <button type="submit" class="btn btn-primary" class="alert-link"   (click)="pobierzZabezpieczeniePrzeciwkradziezoweByIdPolisaMieszkaniowa(polisa.id)"  >  przeciwkraziezowe </button>



    <div *ngIf=" zabezpieczeniePrzeciwkradziezowe!= null">

        {{zabezpieczeniePrzeciwkradziezowe.id}}   <br/>  {{zabezpieczeniePrzeciwkradziezowe.koszt}} <br/> {{zabezpieczeniePrzeciwkradziezowe.polisaMieszkaniowaDTO.miasto}}   <br/>  {{zabezpieczeniePrzeciwkradziezowe.data}}  <br/>


       <div> <h4><button  target="_blank" rel="noopener"   > Chcesz zmienic kwote zabezpiecznie?  </button>

            <label> Nowa kwota </label>
            <input type="text" class="form-control" [(ngModel)]="kwota2"  #login="ngModel"
                   required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <button type="submit" class="btn btn-primary" class="alert-link" (click)="modyfikujZabezpieczeniePrzeciwkradziezowe(kwota2)"  >  zapisz zmiany </button>

        </h4> </div>


        <br/>
        <button type="submit" class="btn btn-primary" class="alert-link" (click)="zrezygnujZZabezpieczeniaPrzeciwkradziezowego(polisaId)"  >  zrezygnuj z zabezpieczenia </button>


    </div>
    </div>
    </div>








</h4>
<!--zeby si emoc do polisy odwolywac-->







<br/>


